@tailwind base;
@tailwind components;
@tailwind utilities;

#scroll-container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
  
  #scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }